body {
    background-color:lightblue;
}

p.ex1 {
    margin :20px;
}

#ex0 {
    padding:25px;
}

img {
    border: 2px inset cyan;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
